nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .tweeter-text {
  font-family: 'Bungee', sans-serif;
}

nav .right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

nav .right-content .new {
  margin-right: 10px;
}

nav .right-content i {
  font-size: 1.5em;
  color: #eb0a0a;
  margin-top: 5px;
}