nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .tweeter-text {
  font-family: 'Bungee', sans-serif;
}

nav .right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  align-items: flex-end;
}

nav .right-content .new {
  display: inline-block;
  margin-right: 20px;
}

nav .arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

nav .arrow-container i {
  font-size: 1.5em;
  color: #eb0a0a;
  margin-top: 5px;
}