nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

nav .nav-title {
  font-family: 'Bungee', sans-serif;
  font-size: larger;
  cursor: pointer;
}

nav .nav-tweet-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

/* Added animation for nav bar icon to look like its pulsating */
nav .nav-tweet-btn i {
  font-size: 1.2em;
  color: #eb0a0a;
  margin-top: 5px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 999px) {
  nav {
    background-color: rgb(233, 181, 58);
  }
}
