/* Container for tweets */

.tweet-container {
  width: 97%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.tweet {
  border: 10px;
  padding: 15px;
  height: 150px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  background-color: #f4f1ec;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet header h3 {
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

.tweet header .mini-avatar {
  width: 10px;
  cursor: pointer;
  gap: 10px;
  border-radius: 50%;
  object-fit: contain;
}

.tweet header p {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  text-align: right;
}

.tweet-content {
  display: flex;
  text-align: center;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-time {
  color: grey;
  font-size: 15px;
  display: flex;
  font-weight: bold;
  padding: 1px;
}

.tweet-interact {
  color: aqua;
  display: flex;
}

.tweet:hover {
  box-shadow: 4px 8px 10px;
}

.tweet-interact i:hover {
  color: orange;
  cursor: pointer;
}